$color_1: #000000;
$color_2: white;
$font-family_1: 'Roboto';
$background-color_1: #ffffff;
$background-color_2: #1E3367;
$background-color_3: #000000;

/*---------Header--------*/
/* Estilos del pie de página */
body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: $font-family_1;
	line-height: 1.6;
	overflow: auto;
}
h1 {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
h2 {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: xx-large;
	list-style-position: inside;
}
li {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-position: inside;
	font-size: 20px;
}
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.header {
	display: flex;
	align-items: center;
	background-color: $background-color_1;
	color: $color_1;
	height: 23vh;
	max-width: 1000px;
	margin: auto;
}
.header__logo {
	flex: 1;
	text-align: center;
}
.logo__image {
	max-width: 80px;
	height: auto;
}
.header__nav {
	flex: 2.2;
	display: flex;
	text-align: left;
	justify-content: left;
	gap: 20px;
}
.nav__link {
	color: $color_1;
	text-decoration: none;
}
.main-block {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	background-color: $background-color_2;
	height: 13vh;
	margin-bottom: 10vh;
	h1 {
		color: $color_2;
		font-size: xx-large;
		margin-left: 20vh;
	}
}
.horarios {
	display: flex;
	align-items: center;
	align-content: center;
	width: 100%;
	margin-bottom: 5vh;
}
.horarios-img {
	flex: 1;
	text-align: center;
	img {
		width: 600px;
	}
}
.horarios-txt {
	flex: 1;
	text-align: center;
	h2 {
		font-size: xxx-large;
		margin-bottom: 3vh;
	}
	li {
		font-size: xx-large;
		list-style-position: inside;
	}
}
.primera-img {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 5vh;
	img {
		width: 800px;
	}
}
.segunda-img {
	display: flex;
	justify-content: left;
	margin-left: 20vh;
	margin-bottom: 5vh;
	img {
		width: 700px;
	}
}
article {
	display: flex;
	justify-content: right;
	margin-top: 10vh;
}
.button-bought {
	background-color: $background-color_2;
	border-radius: 32px;
	display: flex;
	width: 47vh;
	height: 8vh;
	margin-right: 30vh;
	justify-content: center;
	align-items: center;
	margin-bottom: 10vh;
}
.button-bought_txt {
	color: $color_2;
	font-size: x-large;
}
.frame-information {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: auto;
}
.frame-information_title {
	position: relative;
	margin-bottom: 25px;
	color: $color_1;
	font-size: 20px;
	h2 {
		&::after {
			content: "";
			width: 100%;
			position: absolute;
			height: 2px;
			display: block;
			margin: 0 auto;
			background-color: $background-color_3;
		}
	}
}
.frame-information_txt {
	margin-top: 3vh;
	margin-bottom: 5vh;
	font-size: 20px;
}
.frame-repart {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	margin: auto;
}
.frame-repart_txt {
	margin-top: 3vh;
	font-size: 10px;
	ul {
		list-style-position: inside;
		font-size: 20px;
	}
}
.imagen-container {
	img {
		max-width: 500px;
	}
}
.boton-container {
	img {
		max-width: 500px;
	}
}
.footer {
	margin-top: 10vh;
	display: flex;
	align-items: center;
	background-color: $background-color_2;
	text-align: center;
	width: 100%;
	height: 25vh;
}
.footer-logo {
	flex: 0.7;
	text-align: right;
	img {
		width: 75px;
	}
}
.footer-menu {
	flex: 1;
	text-align: center;
	a {
		color: $color_2;
		margin-right: 2vh;
	}
}
.footer-Networks {
	flex: 0.7;
	text-align: left;
	img {
		width: 40px;
		margin-right: 4vh;
	}
}
