@charset "UTF-8";
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto";
  line-height: 1.6;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 23vh;
  max-width: 1000px;
  margin: auto;
}

.header__logo {
  flex: 1;
  text-align: center;
}

.logo__image {
  max-width: 140px;
  height: auto;
}

.header__nav {
  flex: 2.2;
  display: flex;
  /* Para que los elementos se distribuyan en línea */
  text-align: left;
  justify-content: left;
  /* Para alinear los elementos al final del contenedor */
  gap: 20px;
  /* Espacio entre los elementos */
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.main-block {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: #1E3367;
  height: 13vh;
  margin-bottom: 10vh;
}
.main-block h1 {
  color: white;
  font-size: xx-large;
  margin-left: 20vh;
}

.title-posters {
  display: flex;
  justify-content: center;
  margin: 7vh;
}

.title-posers_txt {
  font-size: xx-large;
}

.poster-container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  margin: 20px;
}
.poster-container img {
  max-width: 250px;
  max-height: 400px;
}

.show-poster {
  text-align: center;
  background-color: #1E3367;
  padding: 20px;
  width: 300px;
}

.show-poster__image {
  margin-bottom: 10px;
}

.poster__img {
  height: 370px;
  width: 250px;
}

.show-poster__details {
  color: white;
}

.show-poster__title {
  margin-bottom: 10px;
}

.show-poster__button {
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-seeMore {
  background-color: #1E3367;
  border-radius: 32px;
  display: flex;
  width: 32vh;
  height: 8vh;
  margin: 10vh;
  justify-content: center;
  align-items: center;
}

.button-seeMore_txt {
  color: white;
  font-size: x-large;
}

.footer {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  background-color: #1E3367;
  text-align: center;
  width: 100%;
  height: 25vh;
}

.footer__logo {
  flex: 0.7;
  text-align: right;
}

.footer__menu {
  flex: 1;
  text-align: center;
}
.footer__menu a {
  color: white;
  margin-right: 2vh;
}

.footer__networks {
  flex: 0.7;
  text-align: left;
}

.footer__logo img {
  width: 90px;
  border-radius: 70px;
}

.footer__networks img {
  width: 40px;
  margin-right: 4vh;
}

@media screen and (max-width: 1150px) {
  .header {
    margin-top: 5vh;
    display: flex;
    height: auto;
    text-align: center;
    margin-bottom: 5vh;
  }
  .header__logo {
    margin-left: 5vh;
  }
  .header__nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-block h1 {
    margin-left: 6vh;
  }
  .title-posters {
    flex-direction: column;
    align-items: center;
    margin: 2vh;
  }
  .title-posers_txt {
    font-size: x-large;
  }
  .poster-container {
    flex-direction: column;
    align-items: center;
  }
  .show-poster {
    margin-bottom: 7vh;
  }
  .poster-container img {
    margin-bottom: 10px;
  }
  .show-poster {
    width: 100%;
    padding: 15px;
  }
  .show-poster__image {
    margin-bottom: 10px;
  }
  .button-seeMore {
    width: 70%;
    height: auto;
    margin: 5vh;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__menu, .footer__networks {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=Programacion.css.map */