$color_1: #000000;
$color_2: #ffffff;
$color_3: white;
$color_4: #1E3367;
$font-family_1: 'Roboto';
$background-color_1: #ffffff;
$background-color_2: #1E3367;
$background-color_3: white;
$background-color_4: #fff;

/* ---navegador--- */
/* --------------1 section---------------- */
/* Estilos del pie de página */
body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: $font-family_1;
	line-height: 1.6;
	overflow: auto;
}
h1 {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
h2 {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
li {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.header {
	display: flex;
	align-items: center;
	background-color: $background-color_1;
	color: $color_1;
	height: 23vh;
	max-width: 1000px;
	margin: auto;
}
.header__logo {
	flex: 1;
	text-align: center;
}
.logo__image {
	max-width: 80px;
	height: auto;
}
.header__nav {
	flex: 2.2;
	display: flex;
	text-align: left;
	justify-content: left;
	gap: 20px;
}
.nav__link {
	color: $color_1;
	text-decoration: none;
}
.performance-block {
	background-color: $background-color_2;
	display: flex;
	align-items: center;
	min-height: 60vh;
}
.performance-block__info {
	flex: 0.7;
	text-align: center;
	margin-bottom: 10vh;
}
.performance-block__title {
	color: $color_2;
	margin-bottom: 5vh;
	font-size: xxx-large;
}
.performance-block__button {
	display: inline-block;
	padding: 10px 20px;
	background-color: $background-color_1;
	color: $color_1;
	text-decoration: none;
	border-radius: 8px;
	font-size: x-large;
}
.performance-block__image {
	flex: 0.7;
	text-align: center;
	img {
		width: 350px;
	}
}
.performance-block__name {
	flex: 1;
	text-align: left;
	align-self: start;
	margin-top: 10vh;
}
.performance-block__name-title {
	font-size: xx-large;
	color: $color_3;
	margin-bottom: 5vh;
}
.performance-block__name-text {
	color: $color_3;
	text-align: center;
}
.title-posters {
	display: flex;
	justify-content: center;
	margin: 7vh;
}
.title-posers_txt {
	font-size: xx-large;
}
.poster-container {
	display: flex;
	justify-content: space-evenly;
	background-color: $background-color_3;
	padding: 20px;
	margin: 20px;
}
.show-poster {
	text-align: center;
	background-color: $background-color_2;
	padding: 20px;
	width: 300px;
}
.show-poster__image {
	margin-bottom: 10px;
}
.poster__img {
	max-width: 90%;
	height: auto;
}
.show-poster__details {
	color: $color_3;
}
.show-poster__title {
	margin-bottom: 10px;
}
.show-poster__button {
	padding: 10px 20px;
	background-color: $background-color_4;
	color: $color_4;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.button-frame {
	display: flex;
	justify-content: left;
	margin-top: 10vh;
}
.button-seeMore {
	background-color: $background-color_2;
	border-radius: 32px;
	display: flex;
	width: 32vh;
	height: 8vh;
	margin-left: 30vh;
	justify-content: center;
	align-items: center;
}
.button-seeMore_txt {
	color: $color_3;
	font-size: x-large;
}
.footer {
	margin-top: 13vh;
	display: flex;
	align-items: center;
	background-color: $background-color_2;
	text-align: center;
	width: 100%;
	height: 25vh;
}
.footer-logo {
	flex: 0.7;
	text-align: right;
	img {
		width: 75px;
	}
}
.footer-menu {
	flex: 1;
	text-align: center;
	a {
		color: $color_3;
		margin-right: 2vh;
	}
}
.footer-Networks {
	flex: 0.7;
	text-align: left;
	img {
		width: 40px;
		margin-right: 4vh;
	}
}
